:root {
  --main-color: #9300e1;
  --black-color: #2b2b2b;
  --max-width: 1080px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.wh-100 {
  width: 100%;
  height: 100%;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-center {
  text-align: center;
}
.div-center {
  max-width: var(--max-width);
  margin: 0px auto;
}
.align-items-center {
  display: flex;
  align-items: center;
}
.title-status {
  background: #9300e1;
  padding: 10px 20px;
  border-radius: 5px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
}
.title-parent {
  width: 200px;
  margin: 0px auto;
  padding-top: 20px;
}
.home {
  background: #9300e1;
  padding: 5px 11px;
  border-radius: 5px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
body {
  background-color: #f1f5f7;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
::selection {
  background: #9300e1;
  color: #000;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #9300e1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7100ad;
  cursor: grab;
}
/* ****************************** */
/* ****************************** */
/* ****************************** */
/* ****************************** */
/* navbar */
.navbar {
  padding: 30px 0px;
}
.home > a {
  color: #fff !important;
  transition: all 0.1s;
}
.home:hover {
  background: #2b2b2b;
}
.nav-container > a {
  color: #2b2b2b;
  font-size: 1.6rem;
  font-weight: 700;
}
.nav-link {
  margin-left: 30px;
}
.nav-link > a {
  color: #2b2b2b;
  transition: all 0.1s;
}
.nav-link > a:hover {
  color: #9300e1;
}
/* *************************** */
/* *************************** */
/* *************************** */
/* *************************** */
/* *************************** */
/* hero section */
.hero-section {
  margin-bottom: 50px;
}
.hero-container {
  margin-top: 50px;
}
/* title */
.hero-title {
  margin-bottom: 100px;
  padding-left: 50px;
}
.hero-title > h1 {
  font-size: 3.8rem;
  text-transform: capitalize;
  line-height: 50px;
  margin-bottom: 10px;
}
.hero-title > p {
  color: rgb(51, 51, 51);
}
.name {
  color: #9300e1;
}
/* img */
.hero-img > img {
  width: 550px;
}

/* *************************** */
/* *************************** */
/* *************************** */
/* *************************** */
/* who am i section */
.who-am-i {
  height: 100vh;
}
.who-container {
  width: 100%;
  height: 80%;
}
.who-img {
  width: 50%;
  height: 100%;
}
.who-img > img {
  width: 500px;
}
.who-text-container {
  margin-left: 50px;
}
.who-text-container > h2 {
  font-size: 2.4rem;
  margin-bottom: 40px;
}
.who-text-container > p {
  font-size: 0.9rem;
  color: rgb(82, 82, 82);
}
/* *************************** */
/* *************************** */
/* *************************** */
/* *************************** */
/* ****goals**** */
.goals {
  width: 100%;
  height: 100vh;
}
.three-js {
  text-align: center;
  margin: 30px 0px;
}
.goals-description {
  margin-top: 50px;
  text-align: center;
}
.goals-description > h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}
.goals-description > p {
  font-size: 0.9rem;
  color: rgb(82, 82, 82);
}
/* *************************** */
/* *************************** */
/* *************************** */
/* *************************** */
/* about */
.sports{
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
}
.sport-box{
  background: #f1f5f8;
  border-radius: 10px;
}
.box-img{
  text-align: center;
  margin-bottom: 20px;
}
.box-img > img{
  padding-top: 20px;
  width: 80px;
}
.title{
  text-align: center;
  padding: 0px 20px;
  margin-bottom: 10px;
}
.desc{
  text-align: center;
  padding: 0px 50px;
  padding-bottom: 20px;
  line-height: 21px;
  color: rgb(95, 95, 95);
}
.sports-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

/* *************************** */
/* *************************** */
/* *************************** */
/* *************************** */
/* contact */
.contact {
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
}
















@media only screen and (max-width: 1080px) {
  :root {
    --max-width: 720px;
  }
}
